services:
  nginx:
    container_name: nginx
    build: ./requirements/nginx
    restart: unless-stopped
    ports:
      - "8080:443"
    networks:
      - inception
    volumes:
      - wp_data:/var/www/html
    depends_on:
      - wordpress

  wordpress:
    container_name: wordpress
    build: ./requirements/wordpress
    restart: unless-stopped
    networks:
      - inception
    volumes:
      - wp_data:/var/www/html
    depends_on:
      - mariadb
    env_file:
      - ../secrets/.env

  mariadb:
    container_name: mariadb
    build: ./requirements/mariadb
    restart: unless-stopped
    networks:
      - inception
    volumes:
      - db_data:/var/lib/mysql
    env_file:
      - ../secrets/.env
    ports:
      - "3306:3306"

networks:
  inception:
    driver: bridge

volumes:
  wp_data:
  db_data:
